body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-image: url("dancefloor.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.blinkyDancer{
  border:30px solid pink;
  border-radius:30px;
  position:absolute;
  animation: pulse-dot 1.25s infinite;
}

.colorDancer{
  position:absolute;
  width: 70px;
  height: 70px;
  background: red;
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation: mymove 5s infinite,spin 5s infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg) translate(-150px, 0); }}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes mymove {
  from {background-color: red;}
  to {background-color: blue;}
}
.animateDancer{
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgb(20, 212, 107);
  border-radius: 50px;
  animation:
    pulse-dot 1.25s infinite,
    shift 0.75s infinite;
}
@keyframes pulse-dot {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(2.5);
  }
  100% {
    transform: scale(.8);
  }
}
@keyframes shift {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(25px, 0);
  }
}